.contacts {
    text-align: center;
    margin-bottom: 85px;
}

.contacts__title {
    margin-bottom: 20px;
}

.contacts__description {
    margin-bottom: 30px;
}

.contacts__button {
    padding-top: 13px;
    padding-bottom: 10px;
    background: #070707;
    color: #FFFFFF;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-left: 28px;
    padding-right: 30px;
    border-radius: 30px;
    cursor: pointer;
}