@import './mixins.scss';
@import './variable.scss';

.intro__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 86px;
    padding-bottom: 31px;
    flex-direction: column;

    @include tablet {
        padding-top: 0;     
    }

    @include mobile-width-only {
        align-items: flex-start;
        padding-top: 40px;
    }
}

.intro__title {
    font-family: "Poppins-Bold", sans-serif;
    line-height: 88px;
    font-size: 64px;
    margin: 0;
    text-align: start;

    @include tablet {
        color: #000;   
    }

    @include mobile-width-only {
        line-height: 75px;
        font-size: 31px;
    }
}

.intro__image {
    text-align: center;
    display: none;

    @include tablet {
        display: block;     
    }

    @include mobile-width-only {
        max-width: 90%;
    }
}

.intro {
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
}

.intro__description {
    color: #ffffff;
    text-align: center;

    @include tablet {
        color: #000;       
    }
}

.intro__logo {
    width: 100%;
    max-width: 300px;

    @include mobile-width-only {
        display: flex;
        margin: auto;
        width: 90%;
    }
}
  
.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.intro-category {
    margin: 5px;
    text-align: start;
}

.intro__button {
    padding: 38px 65px 38px 64px;
    color: #fff;
    background-color: #3A4574;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    font-family: "Poppins-regular", sans-serif;
}

.intro__button:hover {
    opacity: 0.9;
}

.intro__button:active {
    opacity: 0.8;
}

.intro__social-item {
    list-style: none;
}

.intro__social-list {
    display: flex;
    flex-wrap: wrap;

    @include mobile-width-only {
        padding: 0;
     }
}

.intro__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 265px;

    @include tablet {
        padding-bottom: 40px;     
    }

    @include mobile-width-only {
       display: flex;
       flex-direction: column;
    }
}

.intro__social-nav {
    display: none;

    @include mobile-width-only {
        display: block;
     }
}

.intro__social {
    @include mobile-width-only {
        display: none;
     }
}