@import './mixins.scss';
@import './variable.scss';

.main-header__nav--closed .main-header-nav__list{
    @include mobile-width-only {
      display: none;
    }
}

.main-header__nav--closed .main-header__contacts{
  @include mobile-width-only {
    display: none;
  }
}

.main-header__toggle {
    position: absolute;
    top: 37px;
    right: 12px;
    z-index: 2;
    display: block;
    width: 57px;
    height: 55px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;

    @include mobile-width-only {
      display: block;
    }
  }

.main-header__nav--closed .main-header__toggle::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 17px;
    width: 33px;
    height: 4px;
    background-color: #ff4000;
    box-shadow: 0 9px 0 0#ff4000,0 18px 0 0#ff4000;
}

.main-header__nav--opened .main-header__toggle {
    top: 27px;
    right: 0;
    left: auto;
    z-index: 11;
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 37px;
      right: 19px;
      width: 33px;
      height: 3px;
      background-color: #000;
    }
  
    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }
  
    &::after {
      transform: rotate(-45deg);
    }
}

.main-header__nav--opened {
  @include mobile-width-only {
    position: relative;
    width: 100%;
    min-height: 545px;
    max-width: 100%;
    z-index: 1;
  }
}

.header-hour {
  max-width: 100%;
}

.header-hour-icon {
  text-align: center;
}

.header-hour-svg {
  fill: #000;
}

.header-hour-text {
  text-align: center;
}

.main-header__nav {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile-width-only {
    display: block;
  }
}

.main-header__contacts {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile-width-only {
    padding-bottom: 20px;
  }
}

.main-header__link {
  width: 43px;
  margin-right: 20px;
}

.main-header__image {
  fill: none;
}