@import './mixins.scss';
@import './variable.scss';

.partners__link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;

    @include tablet {
        color: #d3b47f;
    }

    @include mobile-width-only {
        color: #000;
    }
}