.portfolio__image {
    width: 100%;
    max-width: 943px;
}

.portfolio__list {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.portfolio__wrapper {
    text-align: center;
}

.portfolio {
    background: #F6F6F6;
    padding-top: 113px;
}

.portfolio__link {
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin-top: 99px;
    margin-bottom: 45px;
}

.portfolio__title {
    margin-top: 0;
    margin-bottom: 47px;
}

.portfolio__name {
    padding-bottom: 99px;
    padding-top: 45px;
    margin: 0;
}