@import './mixins.scss';
@import './variable.scss';

.site-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    justify-content: space-around;
    list-style-type: none;
    min-width: 350px;

    @include mobile-width-only {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border: none;
        margin: 0 20px 0px;
        padding-top: 49px;
        min-width: 0;
    }
}

.site-list__link {
    text-decoration: none;
    color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 16px;

    @include tablet {
        color: #000;       
    }

    @include mobile-width-only {
        display: inline-block;
        width: 90%;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 25px;
    }
}

.site-list__link--home {
    color: #070707;
}

.site-list__item {
    padding-top: 32px;
    padding-bottom: 32px;

    @include mobile-width-only {
        font-family: "Poppins-Bold",sans-serif;
        font-size: 34px;
        line-height: 42px;
        padding-top: 0;
        border-bottom: 1px grey solid;
        display: inline-block;
        width: 90%;
        padding: 0;
    }
}

.site-list__link:hover{
    color:#fff;

    @include mobile-width-only {
        color:#000;
    }
}
.site-list__link:active{
    color:#fff;
    opacity: 0.5;
}