@import './mixins.scss';
@import './variable.scss';

.skills__wrapper {
    text-align: center;
    padding-bottom: 110px;
    padding-top: 91px;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    @include mobile-width-only {
        flex-direction: column;
    }
}

.skills__name {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.skills__title {
    margin-top: 0;
    margin-bottom: 69px;
}

.skills__description {
    margin-bottom: 83px;
}

.skills__title {
    margin-top: 0;
    margin-bottom: 69px;
}

.skills__description {
    margin-bottom: 83px;
}

.skills__name--PS {
    margin-top: 24px;
    margin-bottom: 40px;
}

.skills__name--AI {
    margin-top: 22px;
    margin-bottom: 42px;
}

.skills__name--AE {
    margin-top: 22px;
    margin-bottom: 42px;
}

.skills__name--Figma {
    margin-top: 24px;
    margin-bottom: 57px;
}

.skills__item {
    @include mobile-width-only {
        margin-bottom: 82px;
    }
}

.skills__item:last-child {
    @include mobile-width-only {
        margin-bottom: 0;
    }
}