@import './mixins.scss';
@import './variable.scss';

.social {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 30px;
    width: 342px;
    justify-content: space-between;

    @include mobile-width-only {
        max-width: 90%;
        justify-content: center
    }
}

.social__description {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
}

.social-designer {
    color: #000;
    margin-top: 20px;
}