@import "blocks/about.scss";
@import "blocks/body.scss";
@import "blocks/contacts.scss";
@import "blocks/container.scss";
@import "blocks/intro.scss";
@import "blocks/link.scss";
@import "blocks/main-footer.scss";
@import "blocks/main-header.scss";
@import "blocks/portfolio.scss";
@import "blocks/site-list.scss";
@import "blocks//skills.scss";
@import "blocks/social.scss";
@import "blocks/title.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/fonts.scss";
@import "blocks/mixins.scss";
@import "blocks/variable.scss";